extends ../_layout.pug

block head
    link(href="/chat.css" rel="stylesheet")

block content
    div(id="app-container")
        div(id="content" class="loading-full")
                    

block scripts
    script.
        var currentUser = !{JSON.stringify(user)};
    script.
        var appChan = "#{chan}";
    script(type="text/javascript")
        include chat.js
        