:root {
    --background-theme: #333;
}

body {
    background-color: var(--background-theme);
}

.col-logged {
    background-color: var(--background-theme);
}

#login-form {
    margin: 0 auto;
    background-color: #fff;
    width: 300px;
    margin-top: 10%;
    text-align: center;
    padding: 15px;
}

#login-form input {
    margin: 0 auto;
    text-align: center;
}

#login-form button {
    width: 30%;
}

.user-profile {
    text-align: center;
}

.col-logged .card + .card {
    margin-top: 20px;
}